<div class="comment">
  <img src="https://floating-inlet-77532.herokuapp.com/image/{{this.user.avatar}}" alt="">
  <span>{{this.user.name}}</span>
  <span>{{this.date}}</span>
  <p>{{this.content}}</p>
</div>
