<div class="login-register-page-wrapper">
  <div class="information-wrapper">


  </div>
  <div class="login-register">
    <div class="background-blur-element"></div>
    <div class="login-form-wrapper">

      <div class="login-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" tabindex="1" class="form-control"
                 placeholder="" value="">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <span></span>
          <input type="password" name="password" id="password" tabindex="2" class="form-control"
                 placeholder="">
        </div>
        <div class="form-group">
          <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                 class="form-control btn btn-login main-action-button" value="Log In">
        </div>
      </div>
      <div class="register-msg-footer">
        <hr>
        <span>Need an account? </span>
        <a href="#/register" id="register-form-link">Register</a>
      </div>
    </div>
  </div>
</div>
