<div id="sidebar-wrapper">
  <div class="sidebar-top-section">
    <button class="button-completed">
    <span>
      <img src="images/check.png" alt=""><br>
    </span>
      <span>My Courses <br></span>
    </button>
    <button class="button-pending">
    <span>
      <img src="images/pending.png" alt=""><br>
    </span>
      <span>All Courses <br></span>
    </button>
    <button class="button-calendar">
    <span>
      <img src="images/calendar.png" alt=""><br>
    </span>
      <span>My Calendar<br></span>
    </button>


  </div>
  <div class="sidebar-bottom-section">

    <button class="button-calendar">
    <span>
      <img src="images/calendar.png" alt=""><br>
    </span>
      <span>My Calendar<br></span>
    </button>
    <button class="button-logout  ">
    <span>
      <img src="images/archive.png" alt=""><br>
    </span>

    </button>
  </div>
</div>
