<div class="user-settings-wrapper">
  <div class="change-settings-navbar">
    <a class="nav-link password-link active" href="#/user-settings">Change Password <span class="sr-only">(current)</span></a>
    <a class="nav-link avatar-link" href="#/user-settings/avatar">Change Avatar</a>
  </div>
  <div class="user-settings">
    <form id="user-settings-form" action="">
      <label for="newPassword"> New Password</label>
      <input type="password" name="newPassword" id="newPassword">
      <hr>
      <label for="email"> Enter New Email </label>
      <input type="email" name="email" id="email">
      <hr>
      <label for="currentPassword"> Enter Current Passport </label>
      <input type="password" name="currentPassword" id="currentPassword">
      <hr>
      <button type="submit" class="btn btn-danger">Update Private Info</button>
    </form>
  </div>
  <div class="user-change-avatar">

  </div>
</div>
